{% extends "base.html" %}

{% block title %}
BucketApp
{% endblock %}

{% block content %}
    <article>
        <header>
            <h1>Welcome</h1>
            <p>This is an application that allows you  to record and share goals you want to achieve or experience before reaching a certain age and keeping track of them all</p>
        </header>
        <section>
            <h2>Title: {{ title }}</h2>
            <p>Text: {{ user }}</p>
        </section>
        <section>
            <h2>Recently added activities</h2>
           <!--  {% if new_bookmarks %}
                <ul>
                {% for bm in new_bookmarks %}
                    <li>{{ bm.user }} added <a href="{{ bm.url }}"> {{ bm.url }}</a> </li>
                {% endfor %}
                </ul>
            {% else %}
                No bookmarks yet.
            {% endif %} -->
        </section>
        <footer>
            <h3> What would you like to do next </h3>
            <p> Keep track of what you have already done and what you are yet to achieve.</p>
        </footer>
    </article>
{% endblock %}